<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae soluta sint ea sapiente hic nulla! Nisi voluptatibus libero enim nam laboriosam recusandae obcaecati, quos minus odit non nulla dolorem praesentium!</p>
    
  </body>
</html>
